<section data-ng-controller="ordersCreateController as createCtrl" >

<div id="createtemplateForm">
<h1 class="panel-title" ng-if="orders.createMode"><i class="glyphicon glyphicon-user"></i> Crear Reporte</h1>   

<h1 class="panel-title" ng-if="!orders.createMode"><i class="glyphicon glyphicon-user"></i> Actualizar Reporte {{orders.updatedProcs.rSereal}}</h1>   
</br>
<div ng-if= "orders.isSaving" class="loadsettings">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div> 
<form id="ordersCreate" name="ordersCreate" ng-if="!orders.isSaving" novalidate> 
  <div class="row">
       <div class="col-sm-12">
        <div class="row">
          <div class="col-md-12">
               <div class="panel panel-primary">
                       <div class="panel-heading">
                      <h1 class="panel-title">
                         <i class="glyphicon glyphicon-th"> </i> 
                    Informacion del Doctor/Clinica 
                <i class="glyphicon glyphicon-chevron-down pull-right"></i>

                       </h1>
                
                       </div>

        <div class="row rowcontrolmargin OrdersrowTopmargin">
         <div class="col-sm-12">
          <div class="row rowcontrolmargin">

           <div class="col-sm-6">
            <div class="form-group">
            <label for="IC" class="col-sm-2 control-label">Doctores:</label>
            <div class="col-sm-10">
            <div class="float1">
            <select ui-select2="select2Config" data-ng-model="orders.selectedOrder.doctor" id="doctor" class="selec2Big"  ng-change="createCtrl.setDoctorDetail(orders.selectedOrder.doctor)"  name="doctor" data-placeholder="-- Selecione Cliente --" >
              <option value=""></option>
              <option ng-repeat="value in orders.doctorList" value="{{value._id}}">{{value.firstName}} {{value.lastName}}</option>
             </select> 
              </div>
               
            <div data-ng-controller="doctorsController as doctorsCtrl" >
              <button  type="submit" class="btn btn-sm btn-primary text-center pull-right " ng-click="doctorsCtrl.modelCreate('lg')"><i class="glyphicon glyphicon-plus"></i>
              </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
            <label for="IC" class="col-sm-2 control-label">Clinica:</label>
            <div class="col-sm-10">
            <div class="float1">
            <select ui-select2="select2Config" data-ng-model="orders.selectedOrder.clinica" id="clientes" class="selec2Big"  ng-change="createCtrl.setClinicaDetail(orders.selectedOrder.clinica)"  name="clientes"  >
              <option ng-repeat="value in orders.clinicaList" value="{{value.id}}">{{value.clinica}}</option>
             </select> 
              </div>

            </div>
          </div>
        </div>
       </div>
    
      </div><!--End of col-10 -->
     </div>


    <div class="row rowcontrolmargin OrdersrowTopmargin">
            <div class="col-sm-12">
               <div class="row rowcontrolmargin">
                <div class="col-sm-6">
               <div class="form-group">
               <label for="IC" class="col-sm-2 control-label" >Paciente:</label>
               <div class="col-sm-10">
                  <div class="float1">
                  <select ui-select2 id="selectedPatient" data-ng-model="orders.selectedOrder.patient" id="patients" class="selec2Big"  ng-change="createCtrl.setPatientDetail(orders.selectedOrder.patient)"  name="patients" data-placeholder="-- Selecione Paciente --">
                  <option value=""></option>
                      <option ng-repeat="value in orders.patientList" value="{{value._id}}">{{value.patientFirstName}} {{value.patientLastName}} {{value.PatientCI.value}}</option>
                  </select> 
                </div>
                  <div data-ng-controller="pacientsController as pacientsCtrl" >
                     <button type="submit" class="btn btn-sm btn-info text-center pull-right" ng-click="pacientsCtrl.modelCreate('lg');">
                     <i class="glyphicon glyphicon-plus"></i></button>
                 </div>                      
                  </div>
                   </div>
                   </div>
                </div>
      <!-- Aqui es donde va -->
            </div>
        </div><!--End of Patient First Row -->
           <div class="row rowcontrolmargin">
                 <div class="col-sm-4">
                  <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Nombre:</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" ng-change="createCtrl.setNewPatient()" data-ng-model="orders.newPatient.patientFirstName" placeholder="Insertar Nombre"  id="patientName" >
                    </div>
                  </div>
               </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="IC" class="col-sm-3 control-label">Apellido:</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" placeholder="Insertar Apellido" data-ng-model="orders.newPatient.patientLastName" id="telefono"
                             >
                    </div>
                  </div>
               </div>

               <div class="col-sm-4">
                  <div class="form-group">
                    <label for="polisa" class="col-sm-3 control-label">Edad:</label>
                    <div class="col-sm-9">
                      <input type="Number" placeholder="Insertar Edad" class="form-control" data-ng-model="orders.newPatient.patientEdad"  id="patientEdad" >
                    </div>
                  </div>
               </div>
              </div> 
           <div class="row rowcontrolmargin">
            <!--      <div class="col-sm-2">
                  <div class="form-group">
                    <label for="email" class="col-sm-1 control-label">ID:</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" data-ng-model="orders.selectedPatient.patientId"  id="ID" readonly
                             >
                    </div>
                  </div>
               </div> -->

                <div class="col-sm-4 col-md-4">
                  <div class="form-group">
                    <label for="IC" class="col-sm-3 col-md-3 control-label">Tel:</label>
                    <div class="col-sm-9 col-md-9">
                      <input type="text" class="form-control" data-ng-model="orders.selectedPatient.patientTelefono" readonly  id="telefono"
                             >
                    </div>
                  </div>
               </div>

               <div class="col-sm-4 col-md-4">
                  <div class="form-group">
                    <label for="polisa" class="col-sm-3 control-label">Polisa:</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" data-ng-model="orders.selectedPatient.patientPolisa"  id="polisa" readonly
                             >
                    </div>
                  </div>
               </div>

                <div class="col-sm-4 col-md-4">
                  <div class="form-group">
                    <label for="aseguradora" class="col-sm-3 control-label">Seguro:</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" data-ng-model="orders.selectedPatient.locations.name" readonly  id="aseguradora"
                            >
                   </div>
                 </div>
               </div>
              </div> 


      </div>
       </div>
      </div>  <!-- End of first row -->
      <div class="row rowcontrolmargin">
        <div class="col-sm-12">
       <!--End of Patient Panel -->
      </div><!--End of Patient first column 8 -->
      </div> <!--End of Patient row -->
        <div class="row ">    
      </div><!--End of doctor Row  -->
     </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
            <div class="panel panel-primary">
                       <div class="panel-heading">                    
                       <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> Alta Order <i class="glyphicon glyphicon-chevron-down pull-right"></i></h3>
                   
                
                       </div>
        <form name="procForm" id="procForm" >
         <div class="col-sm-5">
               <div class="row rowcontrolmargin OrdersrowTopmargin">
        <div class="row">
        <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12">
            <div class="form-group">
            <div class="col-sm-12">
             <div style="float:left; width: 80%; margin-right: 3px">
          <select ui-select2 allowClear:true  data-ng-model="orders.selectedOrder.procs" id="procs" ng-change="setProcsDetail(orders.selectedOrder.procs)" class="selec2Big" name="procs" data-placeholder="-- Selecione Procs --"  ng-required="true" >
          <option value=""></option>
              <option ng-repeat="value in orders.procList" value="{{value._id}}">{{value.name}}</option>                        
            </select> 
            </div>
            
            <div style="float:left;">
            <button class="btn btn-sm btn-info" ng-click="addOrderProcs(orders.selectedOrder.procs); clearProcForm()" 
              ng-disabled = "orders.selectedOrder.procs == undefined || !orders.createMode"><i class="glyphicon glyphicon-chevron-right"></i></button>
            </div>
            <div data-ng-controller="procsController as procsCtrl" >
                     <button type="submit" class="btn btn-sm btn-info text-center pull-right" ng-click="procsCtrl.modelCreate('sm');">
                     <i class="glyphicon glyphicon-plus"></i></button>
            </div>  

            </div>
          </div>
          </div>
          </div>

          <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
                     <label class="col-sm-4 control-label" for="patientFirstName">Numeracion <span class=" requiredIcon">*</span> :</label>
                    <div class="col-sm-12 col-md-12">
            <input type="text" class="form-control" data-ng-model="orders.rSereal"  id="rSereal">
                    </div>
              </div>
          </div>
          </div>
        </div>
      </div>
     </div>
   </div>
  </form>

         <div class="col-sm-7">
        <div ng-show="!isNotSave">
         <div class="row OrdersrowTopmargin">
          <div class="col-sm-12">
           <table class="table">
           <th>#</th>
           <th>Name</th>
           <th>Costo</th>
           <th>Pago</th>
              <tr ng-repeat="order in orderDetail">
                  <td data-title="'#'">
                      <span ng-if="!order.$edit">{{order.id}}</span>
                      <div ng-if="order.$edit"><span>{{order.id}}</span></div>
                  </td>
                  <td data-title="'Nombre'">
                      <span ng-if="!order.$edit">{{order.name}}</span>
                       <div ng-if="order.$edit"><span>{{order.name}}</span></div>
                  </td>
                  <td data-title="'Costo'">
                      <span ng-if="!order.$edit">{{order.costo | currency}}</span>
                      <div ng-if="order.$edit"><input class="form-control" type="text" ng-change="getTotal()" ng-model="order.costo" /></div>
                  </td>
                  <td data-title="'Pago'">
                      <span ng-if="!order.$edit">{{order.pago | currency}}</span>
                      <div ng-if="order.$edit"><input class="form-control" type="text" ng-change="getTotal()" ng-model="order.pago" /></div>
                  </td>
                  <td data-title="'Actions'">
                      <a ng-if="!order.$edit" href="" class="btn btn-default btn-xs" ng-click="order.$edit = true">Editar</a>
                      <a ng-if="!order.$edit && orders.createMode" href="" class="btn btn-danger btn-xs" ng-click="createCtrl.deleteProcs($index)"><i class="glyphicon glyphicon-trash"></i></a>
                      <a ng-if="order.$edit" href="" class="btn btn-primary btn-xs" ng-click="order.$edit = false"> <i class="glyphicon glyphicon-ok"></i> Guardar</a>
                  </td>
              </tr>
      </table>

          </div>
         </div>
         <div class="row">        
             <div class="col-sm-6">

             <div class="row rowcontrolmargin">
          <p class="input-group"> 
            <input type="text" class="form-control" 
                   datepicker-popup="mediumDate" 
                   is-open="createCtrl.valuationDatePickerIsOpen" 
                   ng-click="createCtrl.valuationDatePickerOpen()" 
                   ng-model="orders.createdDate" close-text="Cerrar"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" 
                      ng-click="createCtrl.valuationDatePickerOpen($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>

            </p>


           </div>
            <div class="row rowcontrolmargin">
               <textarea rows="2" ng-trim="false" ng-model="orders.selectedOrder.nota" name: "nota" id="nota" maxlength="200" class="form-control" placeholder="Nota">
               </textarea>
               <span>{{200 - orders.selectedOrder.nota.length}} Restante</span>
            </div>  
             
            </div>

             <div class="col-sm-6">
                <div class="row rowcontrolmargin">
                  <div class="col-sm-6">
                    <span class="label label-default label-large">Monto</span>

                </div>
                <div class="col-sm-6">
                   <label ng-model="orders.selectedOrder.total" class="label-order pull-right">{{orders.selectedOrder.total  | currency}}</label>
                </div>
                </div>
                <div class="row rowcontrolmargin">
                  <div class="col-sm-6">
                    <span class="label label-default label-large">Pago</span>

                </div>
                <div class="col-sm-6">
                   <label ng-model="total" class="label-order pull-right">{{orders.selectedOrder.pago  | currency}}</label>
                </div>
                </div>
                <div class="row rowcontrolmargin">
                  <div class="col-sm-6">
                    <span class="label label-default label-large">Debe</span>

                </div>
                <div class="col-sm-6">
                   <label ng-model="total" class="label-order pull-right">{{orders.selectedOrder.debe  | currency}}</label>
                </div>
                </div>
                  <div class="row rowcontrolmargin">
                  <div class="col-sm-6">
                <button class="btn btn-danger form-control"
                ng-disabled="orderDetail.length === 0 || orders.selectedOrder.doctorSelected == undefined || orders.selectedOrder.patient == undefined"  ng-click="cancelOrder();" ladda="orders.isDeleting"><i class=" glyphicon glyphicon-remove" ></i> Cancelar</button>
                  </div>
                <div class="col-sm-6">
                  <button class="btn btn-success form-control" ng-disabled="orderDetail.length === 0 || orders.selectedOrder.doctor == undefined || (orders.selectedOrder.patient == undefined || orders.newPatient.firstName =='') || orders.selectedOrder.clinica == undefined"  ng-click="createCtrl.create(orderDetail); cleanForm()"><i class="glyphicon glyphicon-saved"  ></i> Guardar</button>
                </div>          
                </div>
             </div>
         </div>
        </div>        
         <md-progress-circular class="md-hue-2" ng-if="isNotSave" md-mode="indeterminate"></md-progress-circular>
         </div>
        </div>
       </div>
  </div>
  </form>
  <br>
  <br>

 <div class="row" ng-if="!orders.isSaving">
   <div class="col-sm-12">
       <div>
       <result-list></result-list>
       </div>
   </div>
 </div>  
 </div> 
</section>