<div class="contaier">
	<div class="row">
		   <div class="col-sm-1 col-md-offset-4 ">
		   	<a href="/#!/orders" class="btn btn-primary"> <i class="glyphicon glyphicon-edit"></i><br>Data Entry</a>

		   </div>
		   <div class="col-sm-1 ">
		   	<a id="homeBtnOrder" href="/#!/ordenesList" class="btn btn-warning"> <i class="glyphicon glyphicon-eye-open"></i><br>Reportes</a>

		   </div>
		    <div class="col-sm-1">
		   	<a href="/#!/patients" class="btn btn-info"> <i class="fa fa-user"></i><br>Paciente</a>

		   </div>
		   <div class="col-sm-1">
		   	<a id="homeBtnOrder" href="/#!/doctors" class="btn btn-success"> <i class="fa fa-user-md"></i><br>Doctores</a>

		   </div>

	</div>
</div>