<section data-ng-controller="doctorCreateController as createCtrl" >
    <div class="modal-header">
        <h3 class="modal-title">Crear Doctor</h3>
          <h5>Nombre <span class="requiredIcon">*</span> y Apellido <span class="requiredIcon">*</span> son requeridos</h5>
    </div>
    <div class="modal-body">
        <form name="createDoctorForm" id="createDoctorForm" class="form-horizontal">
                <div class="row">
                    <div class="form-group">
                        <div data-g-show="error" class="text-center text-danger ng-hide">
                            <div class="alert alert-danger" role="alert">
                                <strong data-ng-bind="error" class="ng-binding"></strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                         <div class="panel panel-success">
                             <div class="panel-heading headerMargin">
                                 <span class="headertitle">Informacion Generales</span>
                             </div>

               <div class="panel-body">
                 <div class="row">
               <div class="col-sm-6">
               <div class="form-group divmargin" >
                <label class="control-label col-sm-2" for="name"></label>
                <div class="col-sm-10">
                   <select data-ng-model="createCtrl.DoctorCI.tipo" id="createCtrl.tipo" class="form-control" name="tipo" style=""><option value="" class="">-- Tipo Entidad --</option><option value="Cedula" label="">Cedula</option><option value="Pasaporte" label="">Pasaporte</option>
                         <option value="RNC" label="">RNC</option></select>
                </div>
                </div>

                  <div class="form-group" >
                            <label class="control-label col-sm-2" for="DoctorCI">C.I.</label>
                             <div class="col-sm-10">                   
                            </div>
                            <div class="col-sm-10">
                                <input type="text" data-ng-model="createCtrl.DoctorCI.value" name="tipovalue" id="tipovalue" class="form-control" placeholder="ej. 000-000000-0" style="">
                            </div> 
                        </div>

                 <div class="form-group">
                 <label class="control-label col-sm-2" for="name">Nombre</label>
                        <div class="col-sm-10">
                          <input type="text" data-ng-model="createCtrl.firstName" id="firstName" name="firstName" class="form-control">
                       </div>
                  </div>
                   <div class="form-group">
                            <label class="control-label col-sm-2" >Apellidos</label>
                            <div class="col-sm-10">
                             <input type="text" data-ng-model="createCtrl.lastName" id="createCtrlLastName" name="lastName" class="form-control">
                            </div>
                    </div>
                    </div> <!--end of col-md-6 - Body -->
                    <div class="col-sm-6">
                     <div class="form-group">
                        <label class="control-label col-sm-3" for="patientpatientSexo">Sexo</label>
                        <div class="col-sm-9">
                            <select data-ng-model="createCtrl.sexo" id="patientSexo" class="form-control"  style=""><option value="" class="">-- Seleccione Sexo --</option><option value="Masculino" label="Masculino">Masculino</option><option value="Femenino" label="Femenino">Femenino</option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Departamento</label>
                        <div class="col-sm-9">
                            <select data-ng-model="createCtrl.doctorDepartment"  class="form-control"  ng-options="value._id as value.value for value in department" >
                                <option value="" class="">-- Selecione--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >Especialidad</label>
                        <div class="col-sm-9">
                            <select data-ng-model="createCtrl.doctorEspecialidad"  class="form-control" name="doctorEspecialidad" ng-options="value._id as value.value for value in especialidad" >
                                <option value="" class="">-- Selecione--</option>
                            </select>
                        </div>
                    </div>
                    </div>
              

                    </div> <!--end of row - Body -->
                    </div> <!--end of Panel - Body -->
                    </div><!--end of Panel -->
                    </div>



                </div>

                <div class="row">
                <div class="col-sm-12">

              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#clinica">Clinicas</a></li>
                <li><a data-toggle="tab" href="#contacto">Contactos</a></li>
              </ul>

              <div class="tab-content">
                <div id="clinica" class="tab-pane fade in active">
                 <doctorscreate-clinica></doctorscreate-clinica>
                </div>
                <div id="contacto" class="tab-pane fade">
                   <doctorscreate-contact></doctorscreate-contact>
                </div>
                </div>
                
              </div>
                </div>
                </div>
        </form>
    </div>
   <div class="modal-footer">
        <button class="btn btn-success btn-lg"  ng-click="createCtrl.create(); ok(); createCtrl.showDoctorSave()" ng-disabled="createDoctorForm.$invalid">Guardar &amp; Cerrar</button>
        <button class="btn btn-warning btn-lg" ng-click="cancel()">Cancel</button>
    </div>

</section>